{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}

{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}



{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes, 'field--items') }}>
      {% for item in items %}
        <div{{ item.attributes.addClass('field--item') }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
  
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field--item') }}>
        <div class="overlay-container">
          {{ item.content }} 
          <div class="overlay">
            <div class="entangled-eco">
              <a href="http://coastsincrisis.net/entangledecologies">Entangled Ecologies</a>
              <img src="/themes/bootstrap_coasts/images/home/hover-maria.png" alt="Hurricane Maria path" class="img-fluid img-size">
            </div>

            <div class="predictable-preca">
              <a href="http://coastsincrisis.net/predictableprecarity">Predictable Precarity</a>
              <img src="/themes/bootstrap_coasts/images/home/hover-jose.png" alt="Hurricane Jose path" class="img-fluid img-size">
            </div>

            <div class="creative-res">
              <a href="http://coastsincrisis.net/creativeresistance">Creative Resistance</a>
              <img src="/themes/bootstrap_coasts/images/home/hover-irma.png" alt="Hurricane Irma path" class="img-fluid img-size">
            </div>
          </div>  
        </div>
      </div>
    {% endfor %}
{% endif %}

{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class="field--items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field--item') }}>{{ item.content }}</div>
    {% endfor %}

    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}


  {# <div class="archipelago">
    <img src="/sites/default/files/inline-images/carib-islands-and-pathways.png"/>
    <div class="overlay"></div>
  </div> #}
{# {{ items[0]["content"]["#text"]|raw }} #}


